@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap');

html {
    --site-inverse-text:#000800;
    --site-background:#101110;
    --site-medium: #2A2D2A;
    --site-inverse-background: #949e94;
    --site-accent:#0F0;
    --site-text:#FCFFFC;
    --gradient: linear-gradient(var(site-light), #202320);
    --font: 'Oxygen', sans-serif;
}

@media(prefers-color-scheme:light) {
	html{
	  --site-background: #FBFFFB;
		--site-inverse-background: #BBCBBB;
		--site-medium: #8D988D;
		--site-text: #000800;
		--site-inverse-text: var(--site-text);
	}
}

body{
    margin:0;
    color: var(--site-text);
    background-color: var(--site-background);
    font-family: var(--font);
}
.styledForm{
	margin-top: 10vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:40vh;
    padding: 0px 5em;
    font-family:inherit;
	input {
		width: 65%;
		margin-bottom: .5em;
		padding:1vh 5%;
		font-size: 1.35em;
		font-family: inherit;
	    height:2em;
		text-align: center;
		background-color: var(--site-inverse-background);
		color: var(--site-inverse-text);
		border:none;
		border-radius: 5px;
		border-bottom: 7px double var(--site-inverse-text);
		font-family: inherit;
		&[type="submit"] {
			margin-top: .25em;
			border:none;
			background-color: var(--site-medium);
			height:2em;
			font-size:1.25em;
			color:var(--site-text);
			border-radius: 5px;
			border: 2px solid var(--site-inverse-background);
			font-family: inherit;
		}
		&:invalid:not(.noValidate){
			border:2px solid red;
		}
		&:valid:not(.noValidate) {
			border: 1px solid var(--site-accent);
		}
		&:valid~.requirementHelp {
			max-height:0px;
		}
	}
	label {
		align-self: flex-start;
		margin-left:15%;
		margin-bottom:2px;
	}
}

.requirementHelp {
	width:65%;
	max-height:6em;
	transition:max-height ease-in-out 1s;
	overflow:clip;
	margin-bottom:.25em;
}

.article {
    display:flex;
    background: linear-gradient(0deg, var(--site-medium), #202320);
    padding: 1em;
    border-radius: 1em;
    margin-top:1em;
    filter: drop-shadow(0px 2px 1px var(--site-accent));
    justify-content: space-between;
	> p {
		margin:0;
		> img {
			border-radius: .25em;
		}
	}
	> h1 {
		margin:0;
	}
}

.navigation {
    display:flex;
    list-style-type: none;
    background-color: var(--site-background);
    padding: 0;
    margin:0;
    align-items: center;
    border-bottom: solid 2px var(--site-medium);
	> .logo {
		height: 10vh;
		width:10vh;
	}
	> li {
		margin-left: 8px;
		
		&.userBlock {
      margin-left: auto;
      margin-right: 3em;
			display:flex;
			align-items: center;
			border-radius:5px;
			padding: 0px 5px;
			transition: background-color ease-in-out .25s;
			font-weight: bold;
			.smallIcon {
				margin-left:1em;
			   height:2.5em;
			}
			&:hover {
				background-color:var(--site-medium);
			}
    }
	}
}

.hide {
    max-height: 0px !important;
}


.navlink {
    text-decoration: none;
    color:inherit;
}
.container {
    display:flex;
    flex-direction: row;
}
.sidebar {
    flex-grow: 1;
}
.content {
    flex-grow:2;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items:center;
	> div {
		width:90%;
	}
}
.articleWrapper {
    width:100%;
}
.spoiler > img {
    filter: blur(3px)
}
#passwordRequirements {
    max-height: 12em;
    transition: max-height ease-in-out 1s;
    overflow: clip;
}

@media (orientation:portrait) {
    .navigation .logo {
        width: 3em;
        height: 3em;
    }
    .sidebar {
        display: none;
        flex-grow: 0;
    }
    .content {
        max-width: 100%;
    }
    .loginFormField {
        width: 90%;
        font-size:2.5em;
    }
    #loginFormSubmit {
        font-size: 2.5em;
    }
}

.lds-ripple {
	transition: opacity ease-in 0.25s;
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
	  top: 36px;
	  left: 36px;
	  width: 0;
	  height: 0;
	  opacity: 0;
	}
	4.9% {
	  top: 36px;
	  left: 36px;
	  width: 0;
	  height: 0;
	  opacity: 0;
	}
	5% {
	  top: 36px;
	  left: 36px;
	  width: 0;
	  height: 0;
	  opacity: 1;
	}
	100% {
	  top: 0px;
	  left: 0px;
	  width: 72px;
	  height: 72px;
	  opacity: 0;
	}
}
  